.playlist {
  display: flex;
  flex-basis: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.information {
  padding-left: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .misc,
  .description,
  .name {
    margin-bottom: 0;
  }
  .misc img {
    border-radius: 20px;
    margin-right: 5px;
  }
  .name {
    font-size: 3rem;
  }
}
.description {
  max-width: 900px;
}

// .mat-table {
//   overflow-x: scroll;
//   // position: sticky;
// }

// .mat-cell,
// .mat-header-cell {
//   word-wrap: initial;
//   display: table-cell;
//   padding: 0px 10px;
//   line-break: unset;
//   width: 100%;
//   white-space: nowrap;
//   overflow: hidden;
//   vertical-align: middle;
// }

// .mat-row,
// .mat-header-row {
//   display: table-row;
// }
