.playlist {
  display: flex;
  // flex-basis: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  // position: sticky;
  // top: 60px;
  // z-index: 1;
  // background: rgb(33, 37, 41);
}
.information {
  padding-left: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .misc,
  .description,
  .name {
    margin-bottom: 0;
  }
  .misc img {
    border-radius: 20px;
    margin-right: 5px;
  }
  .name {
    font-size: 3rem;
  }
}
.description {
  max-width: 900px;
}

.playlist-tracks-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  max-height: 100vh;
}

.scrollable {
  overflow-y: auto;
  max-height: calc(75vh);
  flex-grow: 1;
}

.paginator {
  margin-top: auto; // Pushes it to the bottom of the flex container
  position: sticky;
  bottom: 0;
  background-color: white; // Ensures readability over the content scrolled behind
  z-index: 1000; // Ensures it stays on top of other content
}
